{% if bg_color != blank and bg_color != 'rgba(0,0,0,0)' %}
  {% assign has_background = bg_color %}
{% else %}
  {% assign has_background = false %}
{% endif %}

{% if template.name == 'product' %}
  {% assign top_border = true %}
{% elsif remove_top_border == true %}
  {% assign top_border = false %}
{% else %}
  {% assign top_border = false %}
{% endif %}

{% if has_background %}
<div style="background-color: {{ bg_color }};">
{% endif %}
<section class="content-block content-block--full-bleed content-block--full-bleed--{{ image_last }}">
  <div class="-d-flex -f-col bpm-f-row -align-stretch -pt-40 -pb-35 bpm-py-60 {% unless no_border %}b-bottom-french{% endunless%} {% if top_border == true and remove_top_border == false %}b-top-french{% endif %}">
    <div class="col col-xs-full col-md-12 -neg-mt-40 -neg-mt-35 bpm-neg-mt-60 bpm-neg-mb-60 {% if image_last %}bpm-f-order-2{% endif %}">
      <div class="-pb-30 bpm-no-pb bpl-no-pb {% if full_bleed %}full-bleed -neg-mt-40 -neg-mt-35 bpm-neg-mt-60 bpl-neg-mb-60 {% endif %}">
        {% if image_url %}
          <img class="-d-block" src="{{ image_url }}" alt="{{ title }}">
        {% else %}
          {% render 'responsive-image' with
            image: image,
            max_width: 1200,
            max_height: 1024
          %}
        {% endif %}
      </div>
    </div>
    <div class="col col-xs-full col-md-12 gutter-px-xs-2 gutter-px-md-1 gutter-px-half-xl-2 {% if image_last %}bpm-f-order-1{% endif %}">
      <div class="flex -f-col h-100 -justify-between">
        <h2 class="-s-heading bpm-m-heading bpl-l-heading -no-mt -mb-15 bpm-mb-20 bpl-no-mb {% if has_background %}text-white{% endif %}">{{ title }}</h2>
         
        <form class="form -mt-25 -mt-50" data-js-behavior="newsletter" data-list-id="{{ form_id }}">
          <div class="input-group">
            <label class="form-label eyebrow eyebrow--sm -d-block -mb-5 {% if has_background %}text-white{% endif %}" for="firstName">First Name</label>
            <input class="form-control -px-15 bg-sand text-soul has-bg" type="text" id="firstName" placeholder="First name" required>
          </div>
          
          <div class="input-group">
            <label class="form-label eyebrow eyebrow--sm -d-block -mb-5 {% if has_background %}text-white{% endif %}" for="lastName">Last Name</label>
            <input class="form-control -px-15 bg-sand text-soul has-bg" type="text" id="lastName" placeholder="Last name" required>
          </div>
          
          <div class="input-group">
            <label class="form-label eyebrow eyebrow--sm -d-block -mb-5 {% if has_background %}text-white{% endif %}" for="email">Email</label>
            <input class="form-control -px-15 bg-sand text-soul has-bg lower" type="email" id="email" placeholder="email@address.com" required>
          </div>
          
          <div class="input-group">
            <label class="form-label eyebrow eyebrow--sm -d-block -mb-5 {% if has_background %}text-white{% endif %}" for="company">Company Name</label>
            <input class="form-control -px-15 bg-sand text-soul has-bg" type="text" id="company" placeholder="Company Name" required>
          </div>
          
          <div class="-mt-35">
            <button class="form-control form-button form-button--dark form-button--no-margin -pl-5">
              <span class="-d-block bpm-d-none">
                <svg width="21" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.935 13.125l6.19-6.18-6.19-6.19-.7.71 4.98 4.98H.245v1h17.97l-4.98 4.98.7.7z"/></svg>
                <span class="sr-only">Submit Email to List</span>
              </span>
              <span class="-d-none bpm-d-block">Submit</span>
            </button> 
            
            <div class="-mt-20 {% if has_background %}text-white{% endif %}" data-resp-msg></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% if has_background %}
</div>
{% endif %}