
{% assign product_title = product.title %}
{% if product.metafields.product_override.title != blank %}
  {% assign product_title = product.metafields.product_override.title %}
{% else %}
  {% assign product_title = product.title %}
{% endif %}
{% assign shipdate = false %}
{% assign is_members_only = false %}
{% assign customer_is_member = false %}
{% assign customer_is_early = false %}
{% assign customer_is_first = false %}
{% assign first_option = product.options | first | downcase %}
{% if first_option == 'size' %}
  {% assign label = 'quantity' %}
{% else %}
  {% assign label = 'flavor' %}
{% endif %}

{% if customer.tags contains 'haus-membership' %}
  {% assign customer_is_member = true %}
{% endif %}

{% if customer.tags contains 'haus-early' %}
  {% assign customer_is_early = true %}
{% endif %}

{% if customer.tags contains 'haus-first' %}
  {% assign customer_is_first = true %}
{% endif %}

{% for tag in product.tags %} 
  {%- assign tag_pair = tag | split: " => " -%}

  {%- case tag_pair.first -%}
    {%- when 'haus::badge' -%}
      {% assign member_badge = true %}
      {%- assign badge_text = tag_pair.last -%}
    {%- else -%}
    
    {%- when 'haus::shipdate' -%}
      {% assign shipdate = tag_pair.last %}
    {%- else -%}
    
    {%- when 'haus::notes' -%}
      {%- assign notes = tag_pair.last -%}
    {%- else -%}
    
    {%- when 'haus::members' -%}
      {% assign is_members_only = true %}
    {% else %}
  {%- endcase -%}
{% endfor %}

<div class="product-card {% if text_white %}text-white{% endif %}" data-js-behavior="productCard" {% if button_type != 'default' or button_type != 'nolink' %}data-{{ button_type }}{% endif %}>
  <a href="{{ product.url }}" class="-d-block product-card__media">
    {% if member_badge %} 
      {% render 'product-badge', text: badge_text, type: 'member' %}
    {% endif %}
    
    {% 
      render 'responsive-image', 
      with image: product.featured_image, 
      image_class: "haus-image", 
      wrapper_class: "image-wrap", 
      max_width: 700, 
      max_height: 800
    %}
  </a>
  
  <div class="product-card__body tac">
    <h3 class="product-card__title -s-heading">{{ product_title }}</h3>
    {% if notes and notes_enabled %}
      <span class="pill button-text {% if text_white %}pill--transparent text-white{% endif %}">{{ notes }}</span>
    {% endif %}
    <p class="product-card__copy -body">{{ product.metafields.product_card.short_description }}</p>

    <div class="product-card__variant-panel -d-flex fd-col -justify-center oh" data-variant-panel>
      {% if button_type == 'default' %}
      <div class="product-card__variant-inner ">
        {% for variant in product.variants %}
          {% assign quantity_count = variant.title | plus: 0 %}
            <span class="{% if variant.available == false %}product-card__strikethrough{% endif %} product-card__variant-select small button-text ttu pointer {% if text_white%}text-white{% else %}text-faded-black{% endif %}" data-variant-id="{{ variant.id }}" data-variant-inventory="{{ variant.inventory_quantity }}">{{ variant.title }} {% if first_option == 'size' %}{{ quantity_count | pluralize: 'bottle', 'bottles' }}{% endif %}</span>
        {% endfor %}          
      </div>
      {% endif %}
    </div>
    
    {% if button_type != 'nolink' %}
    <button class="btn -mt-15 {% if text_white %}btn--white{% endif %} {% if product.available == false %}is-disabled{% endif %}" {% unless product.available %}data-js-behavior="modal" disabled data-modal-id="bis-modal"{% endunless %} data-card-btn>Add To Cart</button>
    {% endif %}
    
    
    {% if is_members_only == true  and customer_is_member == false %}
      <a href="/products/membership" class="-d-table -mx-auto -mt-25 text-link">Learn About Membership</a>
    {% endif %}
    
    {% if shipdate and button_type != 'shopnow' %}
      <div class="-mt-20 gta-standard-italic {% if text_white %}text-white{% else %}text-soft-gray{% endif %}"> 
      Ships by {{ shipdate }}
      </div>
    {% endif %}
  </div>

  {% unless product == empty %}
  <script type="application/json" data-card-json>
    {{ product | json }}
  </script>
  
  <script data-variant-inventory>
    window.productCards = {
      'card-{{ product.id }}': []
    }
    {% for variant in product.variants %}
       window.productCards["card-{{ product.id }}"].push({
        id: {{ variant.id }},
        inventory_quantity: {{ variant.inventory_quantity }}
      })
    {% endfor %}
  </script>
  {% endunless %}
</div>