<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}
  
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
  
  {% render 'yotpo-script' %}
  
    <script data-shop={{ shop.permanent_domain }}>
    var shop = document.querySelector('[data-shop]');
    var tags = [];
    {% if customer %}
       {% for tag in customer.tags %}
        {% assign t = tag | downcase | handle %}
         tags.push('{{ t }}');
       {% endfor %}
    {% endif %}
    window.__CART__ = {{ cart | json }};
    window.__HAUS = {
      customer: {
        email: "{{ customer.email }}",
        id: "{{ customer.id }}"
      },
      tags: tags,
      domain: shop.getAttribute('data-shop')
    }      
  </script>
  
  
  {{'//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' | script_tag }}
  
  {% render 'script-segment' %}
  {% render 'header-scripts' %}
</head>

<body class="template-giftcard">
  {% render 'script-body-impact' %}
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  
  {% section 'header' %}
  {% unless template contains 'cart' %}
    {% render 'mini-cart' %}
  {% endunless %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% render 'newsletter-modal' %}
  {% render 'bis-modal' %}  
  
  {% if template_name contains 'product' and template_suffix != 'bundle' %}
    {% render 'nutrition-modal' %}
  {% endif %}
  
  {% if template_suffix contains 'bundle' or template == "product" %}
    {% assign bundle = product.metafields.bundle.bundle_products | split: "|" %}
    {% if bundle.size > 0 %}
      {% for b in bundle %}
        {% render 'nutrition-modal' with all_products[b] as product, id_override: true %}  
      {% endfor %}
    {% endif %}
  {% endif %}
  
  {{'https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/cart.min.js' | script_tag}}
  {{'https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/rivets-cart.min.js' | script_tag}}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      window.__CART__ = {{ cart | json }};
      
      $(function() {
          CartJS.init({{ cart | json }}, {
          "dataAPI": true,
          "moneyFormat": "{% raw %}${{amount_no_decimals}}{% endraw %}",
          "moneyWithCurrencyFormat": "{{ shop.money_with_currency_format }}"
          });
      });
    });
  </script>
  
  {% render 'scripts-klavyio' %}
  {% render 'script-subscription-theme-footer' %}
</body>

</html>
