
{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
{% render 'announcement-bar' %}

<section data-section-id="{{ section.id }}" data-section-type="header">  
  {% render 'site-nav' %}
  
  <div class="-d-block bpm-d-none">
    {% render 'mobile-menu' %}
  </div>
</section>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "color",
        "id": "announcement_bar_bg_color",
        "label": "Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "announcement_bar_text_color",
        "label": "Text Color",
        "default": "#FFFFFF"
      }
    ],
    "blocks": [
      {
        "type": "announcement_item",
        "name": "Announcement Item",
        "limit": 3,
        "settings": [
          {
            "id": "announcement_item_text",
            "type": "richtext",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
