{% assign review_count = product.metafields.yotpo.reviews_count | plus: 0 %}
{% assign product_title = product.title %}
{% if product.metafields.product_override.title != blank %}
  {% assign product_title = product.metafields.product_override.title %}
{% endif %}

{% if product.metafields.product_override.shipping_link_text != blank %}
  {% assign shipping_text = product.metafields.product_override.shipping_link_text %}
{% else product.metafields.product_override.shipping_text != blank %}
  {% assign shipping_text = product.metafields.product_override.shipping_text %}
{% else %}
  {% assign shipping_text = 'Free shipping on orders over $50' %}
{% endif %}

{% assign memberships = product.metafields.haus_subscriptions.products | split: "|" %}
{% assign product_type = product.type | downcase | handleize %}
{% if product.options.size == 1 %}
  {% assign selector_type = product.options | first | downcase %}
{% endif %}


{% assign customer_is_member = false %}
{% assign customer_is_early = false %}
{% assign customer_is_first = false %}
{% assign notes = false %}

{% if customer.tags contains 'haus-membership' %}
  {% assign customer_is_member = true %}
{% endif %}

{% if customer.tags contains 'haus-early' %}
  {% assign customer_is_early = true %}
{% endif %}

{% if customer.tags contains 'haus-first' %}
  {% assign customer_is_first = true %}
{% endif %}

{% for tag in product.tags %} 
  {%- assign tag_pair = tag | split: " => " -%}
  {%- case tag_pair.first -%}
    {%- when 'haus::badge' -%}
      {% assign has_badge = true %}
      {%- assign badge_text = tag_pair.last -%}
    {%- else -%}
    
    {%- when 'haus::members' -%}
      {% assign is_members_only = true %}
    {% else %}
    
    {% when 'haus::backorder' %}
      {%- assign is_backorder = tag_pair.last -%}
    {% else %}
    
    {%- when 'haus::shipdate' -%}
      {% assign shipdate = tag_pair.last %}
    {%- else -%}
    
    {%- when 'haus::bundle' -%}
      {% assign bundle = true %}
    {%- else -%}
    
    {%- when 'haus::notes' -%}
      {%- assign notes = tag_pair.last -%}
    {%- else -%}
    
  {%- endcase -%}
{% endfor %}

{% if product.available == false %}
  {% assign has_badge = true %}
  {% if has_badge and badge_text == blank %}
    {% assign badge_text = 'Back Soon' %}
  {% endif %}
{% endif %}

{% if product.metafields.hero_carousel.image != blank %}
  {% assign acf_slides = product.metafields.hero_carousel.image %}
{% endif %}

{% assign recipes =  product.metafields.recipes.recipe_articles | split: "|" %}
{% assign builder_snippet = product.metafields.builder_snippet.snippet %}
{% assign product_type = product.type | downcase | handleize %}

{% assign template_name = template.suffix %}

{% assign hasBundle = false %}
{% assign hasRedirect = false %}

{% for tag in product.tags %}
  {% if tag contains 'haus::redirect' %}
    {% assign hasRedirect = true %}
    {% assign redirectPath = tag | split: " => " | last %}
  {% endif %}

  {% if tag contains 'haus::bundle' %}
    {% assign hasBundle = true %}  
  {% endif %}
{% endfor %}

{% if hasRedirect %}
  {% render 'product-redirect' with path: redirectPath %}
{% endif %}

<script data-product-options>
  window.__HAUS.product = {{ product | json }};
  window.__HAUS.productOptions = [
    {%- for product_option in product.options_with_values -%}
      {
        "name": {{ product_option.name | json }},
        "values": {{ product_option.values | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ];
</script>


<section class="-pt-100 bpm-pt-160 {% if product.metafields.ingredients_v2.header != blank %}has-ingredients-module{% endif %}">

<section class="product-hero">
  <div class="container -pb-60">
    <div class="-d-flex -f-col bpm-f-row bps-justify-between bpl-justify-center {% unless acf_slides != blank %}bps-align-center{% endunless %}">
      <div class="col col-xs-full col-md-11 gutter-md-1 col-lg-10 gutter-lg-2 -mb-35 bpl-no-mb rel">
        {% if acf_slides != blank %}
        <div class="slider-wrapper rel">
          {% if product.metafields.hero_carousel.enable_bottle_overlay %}
           <img src="{{ 'Haus-Bottle-GJ-Crop.png' | asset_img_url: 'master' }}" alt="" class="bottle-overlay abs" data-bottle-overlay>
          {% endif %}
        {% endif %}
        <div class="rel {% if acf_slides != blank %}product-hero-slider" data-js-behavior="productHeroSlider{% endif %}">
        {% if acf_slides != blank %}
          <div class="slide">
            {% if product.metafields.hero_override.image != blank %}  
              {% 
                render 'responsive-image-accentuate', 
                with image: product.metafields.hero_override.image[0], 
                image_class: "haus-image", 
                wrapper_class: "image-wrap image-wrap--desktop-slide", 
                max_width: 700, 
                max_height: 700
              %}
            {% endif %}
        {% endif %}

          {% if has_badge %} 
            {% render 'product-badge', text: badge_text, type: 'pdp' %}
          {% endif %}

          
            {% for variant in product.variants %}
              {% assign data_var_id = 'data-image-id=' | append: variant.id %}
              {% 
                render 'responsive-image', 
                with image: variant.featured_image, 
                image_class: "haus-image product-image", 
                wrapper_class: "image-wrap product-image-wrap", 
                max_width: 700, 
                max_height: 700,
              %}
            {% endfor %}
            
          {% if acf_slides != blank %} 
            <!-- close initial slide div -->
            </div>
            {% for slide in acf_slides %}
              <div class="slide">
                {% 
                  render 'responsive-image-accentuate', 
                  with image: slide[0], 
                  image_class: "haus-image", 
                  wrapper_class: "image-wrap", 
                  max_width: 700, 
                  max_height: 700                  
                %}
              </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-xs-full col-md-11 col-lg-11 -tac bpm-tal">
        <h1 class="-no-mt -s-heading bpm-m-heading bpl-l-heading bpm-mb-5">{{ product_title }}</h1>
        
        <div class="-d-table -mx-auto -mb-20 bpm-no-ml">
          {% render 'okendo-product-rating-summary', product: product %}
        </div>
          
        {% if product.description != blank %}
        <div class="-caption bpm-body -no-mt">{{ product.description }}</div>
        {% endif %}

        {% if product.metafields.product.ABV_line != blank %}
        <p class="-mt-5 -mb-15 gta-standard-italic">{{ product.metafields.product.ABV_line }} </p>
        {% endif %}
        
        <div id="product-options"></div>
        
        {% if product_type != 'gift-card' %}
          <div class="-d-block -my-25">
            <div class="tac -no-mt bpm-no-mb">{{ shipping_text }}</div>
            {% if shipdate %}
            <div class="text-soft-gray gta-standard-italic"> 
              Ships by {{ shipdate }}
            </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>  
  </div>
  {% if product.metafields.ingredients_v2.header != blank %}
    {% 
      render 'pdp-v2-ingredients-module' with
        header: product.metafields.ingredients_v2.header,
        image: product.metafields.ingredients_v2.image,
        eyebrow: product.metafields.ingredients_v2.eyebrow,
        ingredient_title: product.metafields.ingredients_v2.ingredient_title,
        ingredient_description: product.metafields.ingredients_v2.ingredient_description,
        cta_label: product.metafields.ingredients_v2.cta_label
    %}
  {% endif %}
  {% if recipes.size > 0 %}
    {% 
      render 'recipe-grid' with 
      title: product.metafields.recipes.title,
      data: recipes,
      no_border: true
    %}
  {% endif %}

  {% if builder_snippet != blank %}
    {% include builder_snippet %}
  {% endif %}
</section>



<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  
  {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
    "aggregateRating": {
      "@type": "AggregateRating",
      "itemReviewed": "{{ product.title | escape }}",
      "ratingValue": "{{ product.metafields.yotpo.reviews_average }}",
      "reviewCount": "{{ product.metafields.yotpo.reviews_count }}"
    },
  {% endif %}

  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
